<section class="row marg">
    <div id="about">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		        <div class="row text-center">
		        	<quote class="fadeIn">"Simplicity is the ultimate sophistication"</quote><p>- Leonard Da Vinci</p>
		        </div>
		</div>
	</div>
</section>

<section id="timeline" class="row">
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
	<img class="fadeIn" src="/assets/images/timeline.png"/>
</section>

<section id="contact">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
		<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/hero-one.jpg"></div>
            <div class="text-center social fadeIn"><a href="mailTo:jeremyroelfs@icloud.com"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></a></div>
            <div class="text-center social fadeIn"><a href="http://github.com/jeremyroelfs"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a></div>
            <Div class="text-center social fadeIn"><a href="https://twitter.com/The_J_Roel"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></i></a></div>
		</div>
	</div>
</section>