<footer class="row marg">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>{{ site.title }}</h4>
            <nav class="row">
                <ul class="text-center">
                  <li><a href="mailTo:jeremyroelfs@icloud.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
                  <li><a href="http://github.com/jeremyroelfs"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/The_J_Roel"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></i></a></li>
                <div class="text-center social"><a href="https://www.linkedin.com/in/jeremyroelfs"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></div>
                </ul>
            </nav>
            <a href="{{ site.baseurl }}/license"><h5 class="text-center copyright">&copy;2016 jeremyroelfs.com, &copy;2016 jr-web.ninja</h5></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <h4>Categories</h4>
            {% for category in site.categories %}
                <a href="/category/{{ category[0] }}/">
                    <h5 class="title-list-item">{{ category[0] | capitalize }}</h5>
                </a>
            {% endfor %}
        </div>
    </div>
</footer>