<li class="row">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="list-item">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% if post.image %}
          <img src="/assets/images/{{ post.image }}"/>
        {% else %}
          <img src="/assets/images/default.png"/>
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row">
          <h4>{{ post.title }}</h4>
          <hr/>
        </div>
        <div class="row">
          {% if post.description %}
              <p>{{ post.description }}<p>
          {% else %}
            <p>{{ post.excerpt }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</li>