$primaryFont: 'Prompt', sans-serif;
$secondaryFont: 'Titillium Web', sans-serif;
$extraFont: 'Mr Dafoe', cursive;
$westernFont: 'Rye', cursive;
$copyrightFont: Arial, "Helvetica Neue", Helvetica, sans-serif;