---
layout: default
---
<article class="row">
  <section id="hero-page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  		<div class="row container">
	  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	        	
	        	{% if page.image %}
		          <img class="center-block hero-page-logo" src="/assets/images/{{ page.image }}"/>
		        {% else %}
		          <img class="center-block hero-page-logo" src="/assets/images/default.png"/>
		        {% endif %}
			    
	  		</div>
	  		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
  				<h1 class="hero-shadow">{{ page.title }}</h1>
  			</div>
  		</div>
	</section>
    
	<section class="col-xs-12 col-sm-12 col-md-10 col-lg-offset-1 col-lg-10 col-lg-offset-1 marg">
	  	<div class="post-content">
	    	{{ content }}
	  	</div>

  	</section>

</article>



