---
layout: default
---

<section class="row">
	<div id="hero-page" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/hero-one.jpg"></div>
	 <div class="hero-position">
		<img class="center-block hero-img" src="/assets/images/decor-one.png">
		<h1 class="text-center hero-font">{{ page.title | upcase }}</h1>
		<img class="center-block hero-img" src="/assets/images/decor-one.png">
	</div>
	</div>
</section>

<article class="row marg">
	
	
	<div id="category" class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				{% if page.image %}
				    <img class="center-block" src="/assets/images/{{ page.image }}"/>
				{% else %}
				    <img class="center-block hero-page-logo" src="/assets/images/default.png"/>
				{% endif %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<h4>{{ page.title }}</h4>
				<p>{{ page.date | date: "%b %-d, %Y" }}</p>
				<hr/>
				{% if page.description %}
            		<p>{{ page.description }}<p>
          		{% else %}
            		<p>{{ page.excerpt }}</p>
				{% endif %}
			</div>
		</div>

	</div>

	
   	<div id="post-content">
   		{{ content }}
   	</div>
	
</article>



